* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFF8;
    min-height: 100vh;
    padding-bottom: 1.5rem;
    overflow-x: hidden;
}

@media screen and (max-width: 920px) {

    html {
        font-size: 16px;
    }
}